<%- include('../partials/head'); %>
    <title>Signup Page</title>
    <style>
    </style>
</head>
<body>
    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <form action="/signup" method="POST">
        <label for="username">Username :</label>
        <input type="text" id="username" name="username" placeholder="Username"><br>
        <label for="password">Password :</label>
        <input type="password" id="password" name="password" placeholder="password"><br>
        <label for="re-password">Repeat password :</label>
        <input type="password" id="re_password" name="re_password" placeholder="Repeat password"><br>
        <label for="email">Email :</label>
        <input type="email" placeholder="email" name="email"><br>
        <button type="submit">Submit</button>
    </form>
    <p>Already have an account? <a href="/login">Login</a>
</body>
    <%- include('../partials/scripts'); %>
</html>